<!DOCTYPE html>
<html data-ng-app>

<meta name="viewport" content="width=device-width"/>


<head>
  <title>Daily Reading</title>

  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <script type="text/javascript"
          src="../../../js/DayReadingController.js"></script>

</head>

<body data-ng-controller="DayReadingController">

<table>
  <tr data-ng-repeat="dayReadingRow in dayReadingRows">

    <td>{{dayReadingRow.date}}</td>

    <td data-ng-repeat="dayReadingLink in dayReadingRow.links">
      <a target="_blank" data-ng-href="{{dayReadingLink.href}}">{{dayReadingLink.text}}</a>
    </td>

  </tr>
</table>

</body>
</html>
